---
import BaseLayout from '@src/layouts/BaseLayout.astro';
import Icon from '@src/components/Icons.astro';
import MailForm from '@src/components/MailForm.astro';
import {
	AlternativeLanguageMap,
	knownLocales,
	LocaleCode,
	t as tbase,
} from '@src/lib/translations';
import ProjectCard from '@src/components/Cards/ProjectCard.astro';
import { removeTrailingSlash } from '@src/lib/urlhelpers';

export async function getStaticPaths() {
	return Object.keys(knownLocales).map((locale) => ({
		params: {
			locale: locale,
		},

		props: {
			locale,
		},
	}));
}

const { locale } = Astro.props as { locale: LocaleCode };
const t = tbase[locale];

const alternativeLanguageMap: AlternativeLanguageMap = {
	en: new URL('../en', removeTrailingSlash(Astro.url.href)).href,
	nl: new URL('../nl', removeTrailingSlash(Astro.url.href)).href,
};

delete alternativeLanguageMap[locale];
---

<BaseLayout
	locale={locale}
	{alternativeLanguageMap}
	class="bg-jasperro-gradient"
>
	<section
		class="bg-bgel bg-opacity-20 my-16 flex flex-col p-[clamp(--spacing(4),4vw,--spacing(32))]"
	>
		<div class="w-full flex-col justify-between">
			<span
				class="flex flex-wrap-reverse items-center justify-between 2xl:justify-start"
			>
				<h1
					class="text-primary flex text-9xl leading-snug font-medium tracking-tighter"
				>
					Jasper Albering
				</h1>

				<Icon
					name="logo"
					class="flex h-[clamp(6rem,25vw,10rem)] w-[clamp(6rem,25vw,10rem)] 2xl:ml-8"
				/>
			</span>
			<span class="my-12 block space-y-4 text-base" set:html={t.home.info} />

			<div
				class="bg-bg bg-opacity-50 mt-6 flex w-max max-w-full flex-wrap gap-2 p-2 sm:rounded-xs sm:p-4 sm:shadow-md"
			>
				<a
					href="#projects"
					class="flex w-full items-center rounded-xs bg-yellow-300 px-5 py-3 text-sm font-medium text-black shadow-2xs sm:w-max"
					>Portfolio
				</a>
				<a
					href="#contact"
					class="flex w-full items-center justify-between rounded-xs bg-green-300 px-5 py-3 text-sm font-medium text-black shadow-2xs sm:w-max"
					>Contact&nbsp;
					<Icon name="email" />
				</a>
				<a
					href="https://github.com/jasperro"
					class="flex w-max items-center rounded-xs bg-gray-800 px-3 py-3 font-medium text-white shadow-2xs"
				>
					<Icon name="github" />
				</a>
			</div>
		</div>
		<!-- <div class="flex max-w-3xl flex-col">
            <span class="mt-6 text-xs font-medium">
                <p class="mt-6">{t.home.workedwith}</p>
                <p
                    class="mt-2 select-none tracking-[.25em] md:tracking-[.75em]"
                >
                    <Icon name="github" />
                    <Icon name="open-source-initiative" />
                    <Icon name="linux" />
                    <Icon name="react" />
                    <Icon name="language-html5" />
                    <Icon name="language-css3" />
                    <Icon name="language-javascript" />
                    <Icon name="language-typescript" />
                    <Icon name="raspberry-pi" />
                    <Icon name="home-assistant" />
                    <Icon name="godot" />
                    <Icon name="eleventy" />
                    <Icon name="hugo" />
                </p>
            </span>
        </div> -->
	</section>
	<div class="mx-[clamp(1rem,6vw,19rem)]">
		<section>
			<h1 class="py-6 text-3xl">{t.home.projects}</h1>
			<div
				id="projects"
				class="grid w-full grid-cols-(--projects-grid-cols) gap-x-4 gap-y-4 lg:mx-0 lg:px-0"
			>
				{
					Object.values(t.home.projectlist).map((project) => (
						<ProjectCard
							title={project.title}
							description={project.description}
							imgUrl={project.imgUrl}
							imgRaw={project.imgRaw}
							icons={project.icons}
							actioncomponent={project.actioncomponent}
						/>
					))
				}
			</div>
		</section>
		<!-- <MailForm {t} /> -->
	</div>
</BaseLayout>
