---
import Image from '@src/components/Image.astro';
import Icon from '@src/components/Icons.astro';

const {
	title,
	description,
	imgUrl,
	imgRaw,
	icons = [],
	actioncomponent,
} = Astro.props;
---

<div
	class="bg-bgel dark:bg-bgel-dark flex flex-col justify-between rounded-xs p-5 shadow-2xs transition-shadow hover:shadow-xl"
>
	<div>
		{
			imgUrl ? (
				<Image
					classes="h-48 object-cover"
					src={imgUrl}
					imgRaw={imgRaw}
					alt={title}
				/>
			) : (
				''
			)
		}
	</div>

	<p class="pt-6 text-xl font-semibold">{title}</p>
	<p class="pt-2 text-base">{description}</p>
	<div class="mt-4 flex justify-between">
		<div class="mt-2 flex items-center">
			{icons.map((i: string) => <Icon name={i} />)}
		</div>
		<div class="mt-2">
			{
				actioncomponent
					? ((ActionComponent) => (
							<ActionComponent {...actioncomponent[1]} />
						))(actioncomponent[0])
					: null
			}
		</div>
	</div>
</div>
