---
import { Image } from "astro-eleventy-img";
const { title, description, imgUrl, icons = [], actionhtml = "" } = Astro.props;
---

<div
    class="transition-shadow rounded-sm shadow-sm hover:shadow-xl bg-bgel dark:bg-bgel-dark p-5 flex justify-between flex-col"
>
    <div>
        {imgUrl ? <Image class="h-48 object-cover" {imgUrl} alt={title} /> : ""}
    </div>

    <p class="font-semibold text-xl pt-6">{title}</p>
    <p class="pt-2 text-base">{description}</p>
    <div class="flex mt-4 justify-between">
        <div class="mt-2 flex items-center">{icons.map((i) => i)}</div>
        <div class="mt-2">{actionhtml}</div>
    </div>
</div>
