---
import * as consts from '@src/lib/consts';
import logoSVG from '@src/icons/logo.svg';
import { removeTrailingSlash } from '@src/lib/urlhelpers';
export interface Props {
	title?: string;
	shortTitle?: string;
	description?: string;
	canonicalURL: URL;
}

const {
	title,
	shortTitle,
	description,
	canonicalURL = removeTrailingSlash(Astro.url.href),
} = Astro.props;

const metaTitle = shortTitle ?? title;
---

<!--General -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="canonical" href={canonicalURL} />

<!-- Preloads -->
<link
	rel="preload"
	as="font"
	href={(
		await import(
			'node_modules/@fontsource-variable/lexend/files/lexend-latin-wght-normal.woff2'
		)
	).default}
	type="font/woff2"
	crossorigin="anonymous"
/>

<title>
	{metaTitle ? `${metaTitle} | ${consts.SITE_TITLE}` : consts.SITE_TITLE}
</title>
<meta
	name="description"
	content={description
		? description
		: metaTitle
			? `${metaTitle} | ${consts.SITE_DESCRIPTION}`
			: ''}
/>

<!-- OpenGraph -->
<meta property="og:site_name" content={consts.SITE_TITLE} />
<meta property="og:title" content={title && consts.SITE_TITLE} />
<meta property="og:description" content={consts.SITE_DESCRIPTION} />

<meta name="application-name" content={consts.SITE_TITLE} />
<meta name="apple-mobile-web-app-title" content={consts.SITE_TITLE} />

<!-- Favicons -->
<link rel="icon" type="image/svg+xml" href={logoSVG.src} />

<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" />
<link
	rel="icon"
	type="image/png"
	sizes="16x16"
	href="/assets/images/favicon/favicon-16x16.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="32x32"
	href="/assets/images/favicon/favicon-32x32.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="48x48"
	href="/assets/images/favicon/favicon-48x48.png"
/>
<link rel="manifest" href="/assets/images/favicon/manifest.json" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="theme-color" content="#007a72" />
<meta name="application-name" content={title && consts.SITE_TITLE} />
<link
	rel="apple-touch-icon"
	sizes="57x57"
	href="/assets/images/favicon/apple-touch-icon-57x57.png"
/>
<link
	rel="apple-touch-icon"
	sizes="60x60"
	href="/assets/images/favicon/apple-touch-icon-60x60.png"
/>
<link
	rel="apple-touch-icon"
	sizes="72x72"
	href="/assets/images/favicon/apple-touch-icon-72x72.png"
/>
<link
	rel="apple-touch-icon"
	sizes="76x76"
	href="/assets/images/favicon/apple-touch-icon-76x76.png"
/>
<link
	rel="apple-touch-icon"
	sizes="114x114"
	href="/assets/images/favicon/apple-touch-icon-114x114.png"
/>
<link
	rel="apple-touch-icon"
	sizes="120x120"
	href="/assets/images/favicon/apple-touch-icon-120x120.png"
/>
<link
	rel="apple-touch-icon"
	sizes="144x144"
	href="/assets/images/favicon/apple-touch-icon-144x144.png"
/>
<link
	rel="apple-touch-icon"
	sizes="152x152"
	href="/assets/images/favicon/apple-touch-icon-152x152.png"
/>
<link
	rel="apple-touch-icon"
	sizes="167x167"
	href="/assets/images/favicon/apple-touch-icon-167x167.png"
/>
<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="/assets/images/favicon/apple-touch-icon-180x180.png"
/>
<link
	rel="apple-touch-icon"
	sizes="1024x1024"
	href="/assets/images/favicon/apple-touch-icon-1024x1024.png"
/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta
	name="apple-mobile-web-app-status-bar-style"
	content="black-translucent"
/>
<meta name="apple-mobile-web-app-title" content={consts.SITE_TITLE} />
<link
	rel="icon"
	type="image/png"
	sizes="228x228"
	href="/assets/images/favicon/coast-228x228.png"
/>
<meta name="msapplication-TileColor" content="#c6ece9" />
<meta
	name="msapplication-TileImage"
	content="/assets/images/favicon/mstile-144x144.png"
/>
<meta
	name="msapplication-config"
	content="/assets/images/favicon/browserconfig.xml"
/>
<link
	rel="yandex-tableau-widget"
	href="/assets/images/favicon/yandex-browser-manifest.json"
/>

<meta name="google-site-verification" content={consts.GOOGLE_VERIFICATION} />
